version: "3.9"

services:
  backend:
    build: ./backend
    container_name: backend-prod
    ports:
      - "8000:8000"
    volumes:
      - ./backend:/app

  frontend:
    build: ./frontend
    container_name: frontend-prod
    ports:
      - "3000:3000"
    volumes:
      - ./frontend:/app

  mobile:
    build: ./mobile
    container_name: mobile-prod
    ports:
      - "19000:19000"
    volumes:
      - ./mobile:/app

  grafana:
    image: grafana/grafana:latest
    container_name: grafana-prod
    ports:
      - "3001:3000"
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=admin
    volumes:
      - grafana-data:/var/lib/grafana
    depends_on:
      - prometheus

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus-prod
    ports:
      - "9090:9090"
    volumes:
      - ./monitoring/prometheus:/etc/prometheus/

volumes:
  grafana-data:
