name: Backend CI

on:
  push:
    paths:
      - "backend/**"
  pull_request:
    paths:
      - "backend/**"

jobs:
  backend:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      # Build ton Docker container backend
      - name: Build backend image
        run: docker build -t backend-dev ./backend

      # Run PHPStan dans le container
      - name: Run PHPStan
        run: docker run --rm -v ${{ github.workspace }}/backend:/app backend-dev vendor/bin/phpstan analyse

      # Run PHPUnit dans le container
      - name: Run PHPUnit
        run: docker run --rm -v ${{ github.workspace }}/backend:/app backend-dev vendor/bin/phpunit
